@media (min-width:300px) and (max-width: 500px){
    .container{
        grid-template-columns: 1fr;
        /* originally 23 rows, now 18 */
        grid-template-rows: repeat(16, minmax(5rem, 1fr));
        grid-template-areas: 
            /* 1st row */
            "navbar"

            /* 2nd row */
            "sidebar"

            /* 3rd row */
            "sidebar"

            /* 4th row */
            "pending-tasks"

            /* 5th row */
            "pending-tasks"

            /* 6th row */
            "pending-tasks"

            /* 7th row */
            "pending-tasks"

            /* 8th row */
            "pending-tasks"

            /* 9th row */
            "transaction-history"

            /* 10th row */
            "transaction-history"

            /* 11th row */
            "monthly-report-graph"

            /* 12th row */
            "monthly-report-graph"

            /* 13th row */
            "income"

            /* 14th row */
            "expense"

            /* 15th row */
            "footer"

            /* 16th row */
            "footer"

        ;
    }    
    
    .navbar{
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        /* 1st row */
        ". . . . ."

        /* 2nd row */
        "navbar-logo navbar-logo navbar-help navbar-blog navbar-signIn"

        /* 3rd row */
        ". . . . ."
    ;
    }

    .monthly-report-graph-img{
        max-width: 85%;
        max-height: 85%;
    }
}