*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.sidebar, .pending-tasks, .bills-and-payments, .income, .expense, .transaction-history, .monthly-report-graph, .footer{
    margin: 1rem;
}

.container{
    display: grid;
    /* grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr minmax(10rem); */
    grid-template-columns: repeat(6, 1fr);
    /* originally 18 rows, now 15 */
    grid-template-rows: repeat(15, minmax(5rem, 1fr));
    gap: 1rem;
    background-color: #f1f6f9;
    grid-template-areas: 
        /* 1st row */
        "navbar navbar navbar navbar navbar navbar"
        
        /* 2nd row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 3rd row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 4th row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 5th row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 6th row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 7th row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 8th row */
        "sidebar pending-tasks pending-tasks pending-tasks transaction-history transaction-history"

        /* 9th row */
        "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

        /* 10th row */
        "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

        /* 11th row */
        "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

        /* 12th row */
        "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

        /* 13th row */
        ". income income expense expense ."

        /* 14th row */
        "footer footer footer footer footer footer"

        /* 15th row */
        "footer footer footer footer footer footer"
        ;

        text-align: center;
}

/* navbar start */
.navbar{
    grid-area: navbar;
    background-color: white;
    display: grid;
    /* originally 5 columns, now 8 */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        /* 1st row */
        ". . . . . . . ."

        /* 2nd row */
        "navbar-logo . . . . navbar-help navbar-blog navbar-signIn"

        /* 3rd row */
        ". . . . . . . ."
    ;

    /* align-items: center; */
}

.navbar-logo{
    grid-area: navbar-logo;
    /* align-self: center; */
}

.navbar-help{
    grid-area: navbar-help;
    /* align-self: center; */
}

.navbar-blog{
    grid-area: navbar-blog;
    /* align-self: center; */
}

.navbar-signIn{
    grid-area: navbar-signIn;
    /* align-self: center; */
}
/* navbar end */

/* sidebar start */
.sidebar{
    grid-area: sidebar;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        /* 1st row */
        "dashBoard-icon dashBoard"

        /* 2nd row */
        "bills-and-payments-Icon bills-and-payments"

        /* 3rd row */
        "expenses-icon expenses"

        /* 4th row */
        "settings-icon settings"
    ;

    align-items: center;
}

.dashBoard-icon{
    grid-area: dashBoard-icon;
}

.dashBoard{
    grid-area: dashBoard;
}

.bills-and-payments-Icon{
    grid-area: bills-and-payments-Icon;
}

.bills-and-payments{
    grid-area: bills-and-payments;
}

.expenses-icon{
    grid-area: expenses-icon;
}

.expenses{
    grid-area: expenses;
}

.settings-icon{
    grid-area: settings-icon;
}

.settings{
    grid-area: settings;
}
/* sidebar end */

/* pending-tasks start */
.pending-tasks{
    grid-area: pending-tasks;
    background-color: #ffffff;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        /* 1st row */
        "pending-tasks-heading pending-tasks-heading"

        /* 2nd row */
        "pending-tasks-item-1 pending-tasks-item-1-number"

        /* 3rd row */
        "pending-tasks-item-2 pending-tasks-item-2-number"

        /* 4th row */
        "pending-tasks-item-3 pending-tasks-item-3-number"

        /* 5th row */
        "pending-tasks-item-4 pending-tasks-item-4-number"

        /* 6th row */
        "pending-tasks-item-5 pending-tasks-item-5-number"
    ;
}

.pending-tasks-heading{
    grid-area: pending-tasks-heading;
}

.pending-tasks-item-1{
    grid-area: pending-tasks-item-1;
}

.pending-tasks-item-1-number{
    grid-area: pending-tasks-item-1-number;
}

.pending-tasks-item-2{
    grid-area: pending-tasks-item-2;
}

.pending-tasks-item-2-number{
    grid-area: pending-tasks-item-2-number;
}

.pending-tasks-item-3{
    grid-area: pending-tasks-item-3;
}

.pending-tasks-item-3-number{
    grid-area: pending-tasks-item-3-number;
}

.pending-tasks-item-4{
    grid-area: pending-tasks-item-4;
}

.pending-tasks-item-4-number{
    grid-area: pending-tasks-item-4-number;
}

.pending-tasks-item-5{
    grid-area: pending-tasks-item-5;
}

.pending-tasks-item-5-number{
    grid-area: pending-tasks-item-5-number;
}

/* pending-tasks end */

/* income start */
.income{
    grid-area: income;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.income-amount{
    color: green;
}
/* income end */

/* expense start */
.expense{
    grid-area: expense;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.expense-amount{
    color: red;
}
/* expense end */

/* transaction-history start */
.transaction-history{
    grid-area: transaction-history;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        /* 1st row */
        "transaction-history-heading transaction-history-heading transaction-history-heading"

        /* 2nd row */
        "transaction-history-company-1 . transaction-history-amount-1"

        /* 3rd row */
        "transaction-history-company-2 . transaction-history-amount-2"

        /* 4th row */
        "transaction-history-company-3 . transaction-history-amount-3"
    ;

    align-items: center;
}

.transaction-history-heading{
    grid-area: transaction-history-heading;
}

.transaction-history-company-1{
    grid-area: transaction-history-company-1;
}

.transaction-history-amount-1{
    grid-area: transaction-history-amount-1;
}

.transaction-history-company-2{
    grid-area: transaction-history-company-2;
}

.transaction-history-amount-2{
    grid-area: transaction-history-amount-2;
}

.transaction-history-company-3{
    grid-area: transaction-history-company-3;
}

.transaction-history-amount-3{
    grid-area: transaction-history-amount-3;
}
/* transaction-history end */

/* monthly-report-graph start */
.monthly-report-graph{
    grid-area: monthly-report-graph;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.monthly-report-graph-img {
    max-width: 65%;
    max-height: 65%;
    width: auto;
    height: auto;
    object-fit: contain; /* Makes sure the image fits within the container without distortion */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

/* monthly-report-graph end */

/* footer start */
.footer{
    grid-area: footer;
    background-color: #ffffff;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        /* 1st row */
        "footer-heading"

        /* 2nd row */
        "footer-paragraph"
    ;
}

.footer-heading{
    grid-area: footer-heading;
}

.footer-paragraph{
    grid-area: footer-paragraph;
}
/* footer end */