@media(min-width:501px) and (max-width: 768px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(21, minmax(5rem, 1fr));
        grid-template-areas: 
            /* 1st row */
            "navbar navbar navbar navbar"

            /* 2nd row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 3rd row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 4th row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 5th row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 6th row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 7th row */
            "sidebar pending-tasks pending-tasks pending-tasks"

            /* 8th row */
            ". transaction-history transaction-history ."

            /* 9th row */
            ". transaction-history transaction-history ."

            /* 10th row */
            ". transaction-history transaction-history ."

            /* 11th row */
            ". transaction-history transaction-history ."

            /* 12th row */
            ". transaction-history transaction-history ."

            /* 13th row */
            ". transaction-history transaction-history ."

            /* 14th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

            /* 15th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

            /* 16th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

            /* 17th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

            /* 18th row */
            "income income expense expense"

            /* 19th row */
            "income income expense expense"

            /* 20th row */
            "footer footer footer footer"

            /* 21st row */
            "footer footer footer footer"

        ;
    }
}