@media(min-width:501px) and (max-width: 768px){
    .container{
        /* originally 4 columns, now 6 */
        grid-template-columns: repeat(6, 1fr);
        /* originally 21 rows, now 15 */
        grid-template-rows: repeat(15, minmax(5rem, 1fr));
        grid-template-areas: 
            /* 1st row */
            "navbar navbar navbar navbar navbar navbar"

            /* 2nd row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 3rd row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 4th row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 5th row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 6th row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 7th row */
            "sidebar pending-tasks pending-tasks pending-tasks pending-tasks pending-tasks"

            /* 8th row */
            ". transaction-history transaction-history transaction-history transaction-history ."

            /* 9th row */
            ". transaction-history transaction-history transaction-history transaction-history ."

            /* 10th row */
            ". transaction-history transaction-history transaction-history transaction-history ."

            /* 11th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"

            /* 12th row */
            "monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph monthly-report-graph"
            
            /* 13th row */
            "income income income expense expense expense"

            /* 14th row */
            "footer footer footer footer footer footer"

            /* 15th row */
            "footer footer footer footer footer footer"
        ;
    }
}